<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.oracle.yhlu.work.oraclework.mapper.ILogMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="_id" parameterType="cn.oracle.yhlu.work.oraclework.po.Log">
        INSERT into log(id, time, event, ip)
        VALUES (#{id}, #{time}, #{event}, #{ip});
    </insert>
</mapper>