<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.oracle.yhlu.work.oraclework.mapper.IStudentMapper">

    <select id="queryByID" resultType="cn.oracle.yhlu.work.oraclework.po.Student">
        select *
        from Student
        where id = #{id};
    </select>

    <select id="query" resultType="cn.oracle.yhlu.work.oraclework.po.Student">
        SELECT *
        FROM Student;
    </select>

</mapper>